/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# 메모리 캡처 파일
*.snap

# 운영체제 생성 파일 (맥, 윈도우)
.DS_Store
*.Thumbs.db
*.desktop.ini

# 비주얼 스튜디오, Rider 등 에디터 생성 파일
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# 유니티 크래시 리포트
sysinfo.txt
